.favDiv{
    width: 10%;
    border: 3px solid green;
    float: right;
  width: 200px;
  padding: 10px;
  
}

.icon:hover{
    color: red; 
}
.icon{
    size: 4rem;
    color:#66cc99;
    margin-right: 5px;
    
}
.btn{   
    background-color:#66cc99;   
}
.btn:hover{
    background-color: red; 
}

@media screen and (max-width: 600px) {
    .favDiv {
        width: 100%;
    }
    .btn{   
        display: none;;   
    }
  }